*{
   border: 0;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* ---- GERAL ---- */
body{
   height: 100vh;
   font-family: Arial, sans-serif;
   background-color: #fff;
   color: #333;
   padding: 20px;
}

/* ---- CABEÇALHO ---- */


/* ---- PÁGINA ---- */

#titulo {
   text-align: center;
   font-size: 2rem;
   margin-bottom: 30px;
}

#texto_linear {
  background: linear-gradient(to right, #ff6600, #ff9900);
  -webkit-background-clip: text;   /* necessário no Chrome/Safari */
  -webkit-text-fill-color: transparent; 
  background-clip: text;
}


#area_subtitulo{
   width: 70%;
   margin: 0 auto;
}

#subtitulo {
   text-align: center;
   margin-bottom: 40px;
}

.header_formulario {
   display: flex;
   align-items: center;
   gap: 15px;
   margin-bottom: 20px;
}

.icon_box{
   background: #ffebd6;
   color: #FF6600;
   font-size: 1.5rem;
   padding: 15px;
   border-radius: 12px;
}

.header_formulario h2 {
   margin: 0;
   font-size: 1.3rem;
}

.header_formulario p {
   margin: 2px 0 0;
   color: #666;
   font-size: 0.9rem;
}

form {
   max-width: 90%;
   margin: 0 auto 40px;
   background-color: #fff;
   padding: 30px 40px;
   border-radius: 10px;
   box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
   margin-top: 80px;
}

form label {
   display: block;
   margin-top: 15px;
   font-weight: bold;
}

input, textarea{
   width: 100%;
   padding: 12px;
   margin-top: 15px;
   border: 1px solid #838383;
   border-radius: 10px;
   font-size: 1rem;
}

.campo_duplo {
   display: flex;
   gap: 30px;
   margin-bottom: 30px;
}

.campo_duplo div {
   flex: 1;
}

.campo {
   margin-bottom: 30px;
}

button {
   margin-top: 20px;
   width: 100%;
   padding: 20px;
   background: linear-gradient(to right, #ff6600, #ff9900);
   color: white;
   border-radius: 6px;
   font-size: 20px;
   cursor: pointer;
}

button:hover {
   background: linear-gradient(to right, #e55b00, #ff7700);
}

.contato_info {
   max-width: 90%;
   margin: 40px auto;
   background: #fff;
   padding: 30px 40px;
   border-radius: 16px;
   box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
   margin-top: 100px;
}

.contato_info h2 {
   margin-bottom: 20px;
}

.info_cards {
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 25px;
}

.info_item{
   display: flex;
   align-items: center;
   gap: 15px;
}

.icon {
   width: 50px;
   height: 50px;
   border-radius: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.info_texto_item h3 {
  margin: 0;
  font-size: 1rem;
}
.info_texto_item p {
  margin: 2px 0 0;
  color: #666;
  font-size: 0.9rem;
}

/* ---- RODAPÉ ----- */


/* --------------------
   Responsividade
--------------------- */

/* -------- TABLET -------- */
@media (max-width: 1024px) {

}


/* -------- MOBILE GRANDE -------- */
@media (max-width: 768px) {

}


/* -------- MOBILE -------- */
@media (max-width: 480px) {

}