/* --------------------
   Estilo da página
--------------------- */

/* ---- CABEÇALHO ---- */
#header-site {
    margin-bottom: 200px;
    background: var(--octave-color);
    font-family: var(--font-family-base);
    color: var(--primary-color);
    position: relative;
    width: 100%;
}

/* box logo */

/* barra nav */

/* btn's reponsivo */

/* barra nav responsivo */

/* --------------------
   Responsividade
--------------------- */

/* -------- TABLET -------- */
@media (max-width: 1024px) {

}


/* -------- MOBILE GRANDE -------- */
@media (max-width: 768px) {

}


/* -------- MOBILE -------- */
@media (max-width: 480px) {

}